body {
  background-color: blanchedalmond;
}

.menu{
  display: flex;
  margin: 10%;
}

.hp-wrapper {
  height: 2rem;
  width: 10rem;
  border: 1px solid;
}

.output {
  margin: 20%;
  display: flex;
}

.canvas {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 60vh;
}

.shop {
  display: show;
  background-color: rgba(185, 112, 112, 0.6);
  height: 60vh;
  width: 60vw;
  position: absolute;
}

.shopMenu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.itemGrid {
  width: 15%;
  height: 15%;
}

.itemBox {
  align-items: center;
  border: 1px solid;
  padding: 10%;
}