body {
  background-color: blanchedalmond;
}

.menu{
  display: flex;
  margin: 10%;
}

.hp-wrapper {
  height: 2rem;
  width: 10rem;
  border: 1px solid;
}

.output {
  margin: 20%;
}

.canvas {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 60vh;
}