body {
  background-color: blanchedalmond;
  margin: 0;
}

.menu{
  display: flex;
  margin: 5%;
  justify-content: space-evenly;
  align-items: center;
}

.hp-wrapper {
  height: 2rem;
  width: 10rem;
  border: 1px solid;
}

.output {
  margin: 5%;
  display: flex;
}

#shopKeep, #goBack, #bossFight {
  display: none;
}

.canvas {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 60vw;
  height: 60vh;
  overflow: auto;
  border: inset 4px blanchedalmond;
}

.shop {
  display: none;
  margin: auto;
  height: 60vh;
  width: 60vw;
  position: absolute;
}

.shopMenu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* .itemGrid {
  width: 15%;
  height: 15%;
} */

.itemBox {
  align-items: center;
  border: 1px solid;
  padding: 10%;
  background-color: rgba(185, 112, 112, 0.9);
}
/* 
#goBack, #bossFight {
  display: none;
} */

#selector {
  width: 40%;
  color: red;
  background-color: lightgrey;
  font-weight: bold;
  margin: auto;
}

#character {
  display: inline-block;
  padding: 1em;
  padding-right: 3em;
  border: 3px double black;
}

#character:hover {
  border: 3px solid black;
  color: red;
}

#start {
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 15px;
}

.statsAndDisplay {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#hp2 strong{
  display: flex;
};

h1, h2, h3 {
  margin: 1rem;
  text-align: center;
}

.button-wrapper {
  margin-bottom: 5px;
}

.hidden {
  display: none;
}

.restart {
  text-align: center;
}
